<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
	<title>BookStore</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>	

<body>
	
	<h1 th:text="'Edit Book'"></h1>
	
	<form action="#" th:action="@{'/editbook/' + ${bookid}}" th:object="${booktoedit}" method="post">
    	<p>Title: <input type="text" th:field="*{title}" /></p>
    	<p>Author: <input type="text" th:field="*{author}" /></p>
    	<p>ISBN: <input type="text" th:field="*{isbn}" /></p>
    	<p>Year: <input type="number" th:field="*{publicationYear}" /></p>
    	<p>Price(€): <input type="number" th:field="*{price}" /></p>
    	
    	<label for="categorylist">Category</label>
			 <select id="categorylist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
    		</select>
       
        <p><input type="submit" value="Submit"/></p>

	</form>
	
</body>
</html>